<!-- Tell mobile devices how to scale the Bootstrap webpage -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<div class="jumbotron">
	<h1>cookLah</h1>
	<p>Coming soon</p>
</div>