<!-- button and associated modal for finding ingredients -->
<button type="button" class="btn btn-primary" id="search_or_create_ingredients_button" data-toggle="modal" data-target="#search_or_create_ingredients">Find Ingredients</button>

<div class="modal fade bs-example-modal-lg" id="search_or_create_ingredients" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find Ingredients</h4>
      </div>

      <div class="modal-body">

        <!-- search ingredients -->
        <div id="ingredients_search_fields">
          <%= render '/inventory_management/partials/recipe_modal/ingredients_search_fields' %>
        </div>

        <!-- ingredients search results -->
        <div id="ingredients_search_results">
          <%= render '/inventory_management/partials/recipe_modal/ingredients_search_results' %>
        </div>

        <!-- create ingredient -->
        <%= render '/inventory_management/partials/recipe_modal/create_ingredient' %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>


    </div>
  </div>
</div>