<!-- search recipes -->
<div id='recipes_search_fields'>
  <%= render '/inventory_management/partials/recipes_search_fields' %>
</div>

<!-- search results -->
<div id='recipes_search_results'>
  <%= render '/inventory_management/partials/recipes_search_results' %>
</div>


<!-- create new recipe section -->
<div id='create_new_recipe_section'>
  <%= render '/inventory_management/partials/create_recipe' %>
</div>