<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="well" style="background-color: white;">

      <div class="page-header"><h2>A Secret Rendezvous...</h2></div>

      <%= text_area_tag nil, @inventory, class: 'form-control' %>

    </div>
  </div>
  <div class="col-md-2"></div>
</div>