<div class="list-group">
  <%= link_to 'Recipes', homepage_recipes_path, class: 'list-group-item' %>
  <%= link_to 'Ingredients', homepage_ingredients_path, class: 'list-group-item' %>
  <%= link_to 'Equipment', homepage_equipment_path, class: 'list-group-item' %>
</div>