<!-- table of equipments to add to recipe -->
<div class="panel panel-default">
  <div class="panel-heading">Equipment for Recipe</div>
  <table class="table">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Type</th>
    </tr>
    <% 1.upto(@equipment_for_recipe.length) do |i| %>
      <tr>
        <td><%= @equipment_for_recipe[i-1].code %></td>
        <td><%= @equipment_for_recipe[i-1].name %></td>
        <td><%= @equipment_for_recipe[i-1].price %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </table>
</div>