<div class="list-group">
  <%= link_to 'Recipes', inventory_management_recipes_path, class: 'list-group-item' %>
  <%= link_to 'Ingredients', inventory_management_ingredients_path, class: 'list-group-item' %>
  <%= link_to 'Equipment', inventory_management_equipment_path, class: 'list-group-item' %>
</div>